/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.timer {
  display: flex;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: 36px;
  font-weight: 500;
}

.label {
  text-transform: uppercase;
  font-weight: 400;
}
